body > .container {
    padding: 60px 15px 0;
}
.text-blue{
  color: #2a86ca !important;
}
.marginb-3rem { margin-bottom: 3rem; }
/*@media all and (max-width: 1200px) { /* screen size until 1200px */
  /*h1 { font-size: 1.5em; }
}*/
/*@media all and (max-width: 1000px) { /* screen size until 1000px */
    /*h1 { font-size: 1.2em; }
    }*/
@media all and (max-width: 500px) { /* screen size until 500px */
    h1 { font-size: 1.8em !important; }
    td { font-size: 0.8em; }
    a { font-size: 0.8em; }
    .jumbotron { padding: 5rem 1rem 1rem 1rem; }
    .footer.bg-bbva .container .row { margin-left: 0px; }
    }
/*Barra superior*/
.bg-bbva {
  background-color: #072146;
}
.imgBBVA { width: 87px }
.light-toggler.navbar-toggler{
  color: rgba(255,255,255,.5);
  border-color: rgba(255,255,255,.1);
}

/*Login*/
.form-signin {
    width: 100%;
    max-width: 401px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 32px;
}
.form-signin paper-input[type="email"].login {
    margin-bottom: 5px;
    border-radius: 10px;
}
.form-signin paper-input[type="password"].login {
    margin-bottom: 10px;
    border-radius: 10px;
}

.paper-input-label-3{
  margin-left: 5px;
}

.form-signin .btn.register { padding-left: 0; }
.form-signin .btn.register:hover { font-weight: 700!important; }

/*Rgistro*/
.form-signin .registrar{ margin-bottom: 10px; }
.registro {
  background-color: white;
  padding-bottom: 4rem;
  padding-top: 5rem;
}
.form-registro { padding-top: 4rem; }

/*Cuentas*/
.cuentas-view {
  width: 100%;
  padding: 15px;
  margin-bottom: 32px;
}
.cuentas-view h2 {
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: .5rem;
}
.cuentas-view table {
  max-width: 600px;
  margin-right: 4vw;
  margin-left: 4vw;
  width: auto;
}

/*Migas de pan*/
.breadcrumb { background-color: #2a86ca; }
.breadcrumb .breadcrumb-item.no-active { cursor: pointer; }


.piefijo {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center
}

.migasdePan{
  margin-top: 3vw;
}

.transferForm{
  margin-top: 4vw;
}

.formulariotransferencias{
  background-color: #fff;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 5vw;
  border-radius: 10px;
  height: 22vw;
  width: 91vw;
}

.transferinputField{
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff;
}
