<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="/src/inicio-app/inicio-app.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="transfer-wizard">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilos.css">
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax
        id="hacerTransferencia"
        url="http://rutapres-apitechjgr.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/transfer"
        handle-as="json"
        method="POST"
        on-response="volver"
        on-error="mostrarError"></iron-ajax>

    <div hidden$="{{hide}}" class="transferForm">
      <iron-form id="ironform" allowRedirect = "false">
        <form id="formulario"  method="post">

            <paper-input id="cuentaorigen" type="text" alwaysFloatLabel="true" label="IBAN Origen" value="{{cuentaorigen::input}}"
            error-message="Por favor, introduzca un IBAN origen." required="true" minlength=20 class="transferinputField" readonly="true"></paper-input>

            <paper-input id="saldo" type="text" always-float-label label="Saldo Cuenta Origen en €" value="{{saldo::input}}"
            error-message="Por favor, introduzca un IBAN destino." required="true" class="transferinputField" readonly="true">
            </paper-input>

            <paper-input id="cuentadestino" type="text" always-float-label label="IBAN Destino" value="{{cuentadestino::input}}"
            error-message="Por favor, introduzca un IBAN destino." required="true" class="transferinputField"
            minlength=20></paper-input>

            <paper-input id="importe" type="text" always-float-label label="Importe en €" value="{{importe::input}}"
            error-message="Por favor, introduzca el importe de la transferencia" required="true" class="transferinputField"></paper-input>

            <paper-input id="concepto" type="text" always-float-label label="Concepto (Opcional)" value="{{concepto::input}}"
            error-message="Por favor, introduzca el importe de la transferencia" class="transferinputField"
            maxlength=100></paper-input>

            <button class="btn btn-lg btn-success" on-click="transferir" style="margin-left: 2vw;">Hacer Transferencia</button>
            <button class="btn btn-lg btn-danger" on-click="volver">Cancelar</button>

        </form>
      </iron-form>

    </div>
  </template>

  <script>
    class TransferWizard extends Polymer.Element {
      static get is() { return 'transfer-wizard'; }
      static get properties() {
        return {
          cuentaorigen : {
            type : String
          },
          saldo: {
            type : Number
          },
          cuentadestino:{
            type :String
          },
          importe : {
            type:Number
          },
          concepto:{
            type:String
          },
          hide:{
            type:Boolean,
            value:true
          }
        };
      }

      cargaDatosTransfer(datosIniciales){
        console.log(datosIniciales);
        this.$.ironform.reset();
        this.saldo = datosIniciales.saldo;
        this.cuentaorigen = datosIniciales.selectediban;
      }

      transferir(){
        this.$.ironform.validate();

        this.$.hacerTransferencia.headers.cuentaorigen = this.cuentaorigen;
        this.$.hacerTransferencia.headers.saldoorigen = this.saldo;
        this.$.hacerTransferencia.headers.importe = this.importe;
        this.$.hacerTransferencia.headers.concepto = this.concepto;
        this.$.hacerTransferencia.headers.cuentadestino = this.cuentadestino;
        this.$.hacerTransferencia.generateRequest();
      }

      volver(resultado) {
        console.log("Vuelvo a Cuentas");
        this.dispatchEvent(new CustomEvent("goback", {}));
        //ocultamos componente
        this.toggleView();
      }

      toggleView(){
        this.hide= !this.hide;
      }

      hideView(){
        this.hide = true;
      }
    }

    window.customElements.define(TransferWizard.is, TransferWizard);
  </script>
</dom-module>
