<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/inicio-app/inicio-app.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div hidden$="{{hide}}">
      <iron-ajax
        id="hacerlogin"
        url="http://rutapres-apitechjgr.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/usuarios/login"
        method="POST"
        handle-as="json"
        on-response="mostrarResultadoLogin"
        on-error="mostrarError"></iron-ajax>
        <inicio-app id="inicio"></inicio-app>
        <div class="form-signin">
            <h2 class="h3 mb-3 font-weight-normal">Inicie sesión, por favor</h2>
            <!-- <input placeholder="Email" type="email" class="form-control login" value="{{email::input}}" required/> -->
              <iron-form id="ironlogin" allowRedirect = "false">
                <form id="loginForm"  method="post" action="logar">
                  <paper-input id="inputEmail" type="email" always-float-label label="Email" class="form-control login" value="{{email::input}}"
                  allowedPattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" error-message="Por favor introduzca un email válido." required="true" autoValidate="true"
                  minlength=6></paper-input>

                  <!-- <input placeholder="Contraseña" type="password" class="form-control login" value="{{password::input}}" required/> -->

                  <paper-input id="inputPassword" type="password" always-float-label label="Password" class="form-control login" value="{{password::input}}"
                  allowedPattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" error-message="Por favor introduzca una contraseña" required="true"
                  minlength=2></paper-input>

                  <div hidden$="{{!error}}" class="alert alert-danger" role="alert">
                    <!--<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> -->
                    <img src="/img/glyphicons_free/glyphicons/png/glyphicons-197-exclamation-sign.png" alt="Warning" height="20" width="20">
                    <span class="sr-only">Error:</span>
                    Usuario incorrecto. Revise los datos, por favor
                  </div>
                  <button class="btn btn-lg btn-primary btn-block" on-click="logar" type="submit">Entrar</button>
                <form>
              </iron-form>
            <span hidden$="{{!logado}}">Bienvenido de nuevo</span>

            <span class="mt-4 font-weight-normal">¿Quiere ser cliente?, <a class="btn register text-blue" on-click="registrar">regístrese</a></h2>
        </div>
      </div>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/estilos.css">
      <link rel="stylesheet" href="/css/techustyle.css">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String,
            value: ''
          },
          password: {
            type: String,
            value: ''
          },
          logado:{
            type: Boolean,
            value: false
          },
          error:{
            type: Boolean,
            value: false
          },
          hide:{
            type: Boolean,
            value: false
          }
        };
      }


      mostrarResultadoLogin(datos){
        console.log("4. Recibimos respuesta");
        console.log(datos.detail.response);
        this.logado = true;
        this.dispatchEvent(new CustomEvent("loginuser", {"detail":{"loggeduser":datos.detail.response.usuario}}));
      }

      mostrarResultadoLoginPrevio(userid){
        console.log("5. Usuario ya logado");
        console.log(userid);
        this.logado = true;
        this.dispatchEvent(new CustomEvent("loginuser", {"detail":{"loggeduser":userid}}));
      }

      logar(){
        if (this.$.inputEmail.validate() && this.$.inputPassword.validate()){
          console.log("1. El usuario " +this.email+" / "+this.password+" ha pulsado el boton");
          this.$.hacerlogin.headers.email = this.email;
          this.$.hacerlogin.headers.password = this.password;
          console.log("2. Voy a enviar la peticion");
          this.$.hacerlogin.generateRequest();
          console.log("3. Petición Enviada");
        }


        //Montamos cabeceras para incluir los parametros y mandarlo por http POST a la API
      }

      registrar(){
        this.dispatchEvent(new CustomEvent("registrar", {"detail":{"registro":"nuevo"}}));
      }

      mostrarError(error){
        console.error("4. llega el Error");
        console.error(error);
        this.error = true;
      }

      toggleView(){
        this.hide = !this.hide;
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
