<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../src/mapa-custom/mapa-custom.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-map/google-map-marker.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div hidden$="{{hide}}">

      <iron-ajax
        id="getmovimientos"
        url="http://rutapres-apitechjgr.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/cargarmovimientos"
        handle-as="json"
        method="GET"
        on-response="mostrarMovimientos"
        on-error="mostrarError"></iron-ajax>

        <!-- <iron-ajax
          id="getmovimientos"
          url="localhost:3000/apitechu/v5/cargarmovimientos"
          handle-as="json"
          method="GET"
          on-response="mostrarMovimientos"
          on-error="mostrarError"></iron-ajax> -->

        <div>

        <nav aria-label="breadcrumb" class = "migasdePan">
          <ol class="breadcrumb">
            <li class="breadcrumb-item text-dark no-active" on-click="mostrarCuentas">Mis Cuentas</li>
            <li class="breadcrumb-item active text-dark font-weight-bold active" aria-current="page">Movimientos</li>
          </ol>
        </nav>

        <h2>Sus Movimientos</h1>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Fecha</th>
                  <th>Concepto</th>
                  <th>Importe</th>
                  <th>Ubicación</th>
                </tr>
              </thead>
              <tbody>
                <template is="dom-repeat" items="{{movimientos}}">

                  <tr id="row{{index}}">
                      <td>{{index}}</td>
                      <td>{{item.fecha}}</td>
                      <td>{{item.concepto}}</td>
                      <td>{{item.importe}}</td>
                      <td>
                        <template is="dom-if" if="{{_isEqualTo(item.lat, item.long)}}">
                          <img src="/img/glyphicons_free/glyphicons/png/glyphicons-503-map.png" on-click="showmap" alt="Ubicacion" height="20" width="20">
                        </template>
                      </td>


                  </tr>
                  <tr>
                      <td colspan="5" >
                        <iron-collapse id="collapse{{index}}">
                          <div style="height:350px;">
                            <!-- <mapa-custom id="mapa{{index}}"></mapa-custom> -->
                            <google-map latitude="{{item.lat}}" longitude="{{item.long}}" zoom="15" api-key="AIzaSyCkb9CbosGG4dH5AXpGFcZ0aCdRi_x5aIM">
                              <google-map-marker animation="DROP" latitude="{{item.lat}}" longitude="{{item.long}}" draggable="true" on-google-map-marker-drag="returnpos"></google-map-marker>
                            </google-map>
                          </div>
                        </iron-collapse>
                      </td>
                  </tr>

                </template>
              </tbody>
            </table>
          </div>
          </div>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/techustyle.css">
    <!-- <link rel="stylesheet" href="/css/estilos.css"> -->

  </template>
  <script>
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          movimientos:{
            type:Array
          },
          hide : {
            type: Boolean,
            value : true
          }
        };
      }

        //Recibe peticion desde componente padre y lanza el iron-ajax
        loadMovimientos(iban){
          console.log("Buscando Movimientos de cuenta: "+iban);
          this.$.getmovimientos.headers.iban = iban;
          this.$.getmovimientos.generateRequest();
        }

        //OnResponse del Iron-ajax
        mostrarMovimientos(res) {
          console.log("Recibimos Movimientos");
          console.log(res.detail.response);
          this.movimientos = res.detail.response.movimientos;
          this.toggleMovs();
        }

        mostrarCuentas(e) {
          console.log("Vuelvo a Cuentas");
          this.dispatchEvent(new CustomEvent("cargacuentas", {}));
          this.toggleMovs();
        }

        showmap(e){
          Polymer.dom(this.root).querySelector('#collapse'+e.model.index).toggle();
          // Polymer.dom(this.root).querySelector('#mapa'+e.model.index).cargarMapa();
        }

        //muestra u oculta según el estado
        toggleMovs(){
          this.hide = !this.hide;
        }

        hideView(){
          this.hide = true;
        }

        _isEqualTo(lat, lon) {
          return null != lat && null != lon;
        }
      }


    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
