<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="barra-menu">

  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link href="/css/estilos.css" rel="stylesheet">
    <link href="/css/techustyle.css" rel="stylesheet">
    <iron-ajax
      id="hacerLogout"
      url="http://rutapres-apitechjgr.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/usuarios/logout"
      method="POST"
      handle-as="json"
      on-response="respuestaLogout"></iron-ajax>
    <nav class="navbar navbar-dark navbar-expand-md bg-bbva fixed-top">
     <a href="/" class="navbar-brand"><img src="/icons/logoBBVA.svg" class="imgBBVA"></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           <a class="nav-link text-light font-weight-bold" href="/">Home <span class="sr-only">(current)</span></a>
         </li>
       </ul>
        <div id="loginDiv" hidden$="{{islogged}}">
         <a id="loginButton" href="/" class="btn text-light font-weight-bold">Entrar</a>
        </div>
        <div id="logoutDiv" hidden$="{{!islogged}}">
          <a id="logoutButton" class="btn text-light font-weight-bold" on-click="logout">Cerrar Sesión</a>
        </div>
     </div>
   </nav>
  </template>

  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class BarraMenu extends Polymer.Element {
      static get is() {
        return 'barra-menu';
      }
      static get properties() {
        return {
          islogged:{
            type : Boolean,
            value : false
          },
          userid:{
            type: Number,
            value:null
          }
        };
      }

      ready(){
        super.ready();
        var loggeduser = JSON.parse(window.sessionStorage.getItem("loggeduser"));
        if (null != loggeduser && loggeduser.logged == "YES"){
          this.islogged = true;
          this.userid = loggeduser.userid;
        }
      }


      logout(){
        this.$.hacerLogout.headers.id = this.userid;
        this.$.hacerLogout.generateRequest();
      }

      respuestaLogout(){
        window.sessionStorage.removeItem("loggeduser");
        this.dispatchEvent(new CustomEvent("logout", {"detail":{"userLogout":this.userid}}));
        this.islogged = null;
        this.userid = null;

      }
    }

    window.customElements.define(BarraMenu.is, BarraMenu);
  </script>
</dom-module>
