<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div hidden$="{{hide}}">

      <!-- <iron-ajax
        id="obtenerCuentas"
        url="http://rutafinal-apitechjgr.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/cargarCuentasUsuario"
        handle-as="json"
        method="GET"
        on-response="mostrarCuentas"
        on-error="mostrarError"></iron-ajax> -->
      <iron-ajax
          id="obtenerCuentas"
          url="http://rutapres-apitechjgr.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/cargarCuentasUsuario"
          handle-as="json"
          method="GET"
          on-response="mostrarCuentas"
          on-error="mostrarError"></iron-ajax>

        <div>
            <nav aria-label="breadcrumb" class = "migasdePan">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active text-dark font-weight-bold active"><a>Mis Cuentas</a></li>
              </ol>
            </nav>

            <template is="dom-if" if="{{hayCuentas}}">
              <h2>Sus Cuentas</h2>
              <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <th>#</th>
                    <th>IBAN</th>
                    <th>Saldo</th>
                    <th>Operaciones</th>
                  </thead>
                  <tbody>
                    <template is="dom-repeat" items="{{cuentas}}">
                      <tr>
                          <td>{{index}}</td><td>{{item.iban}}</td>
                          <td>{{item.saldo}}</td>
                          <td>
                            <button on-click="mostrarMovimientos" class="btn btn-info">Ver Movimientos</button>
                            <button on-click="hacerTransferencia" class="btn btn-info">Transferir Dinero</button>
                          </td>

                      </tr>

                    </template>
                  </tbody>
                </table>
            </div>
            </template>
            <template is="dom-if" if="{{!hayCuentas}}">
              <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Lo sentimos,</h1>
                  <h2 class ="lead">No tiene cuentas abiertas</h2>
                </div>
              </div>
            </template>
      </div>
  </div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/techustyle.css">
  <!-- <link rel="stylesheet" href="/css/estilos.css"> -->
  </template>

  <script>
    class VisorCuentas extends Polymer.Element {
      static get is() {
        return 'visor-cuentas';
      }
      static get properties() {
        return {
          idcliente: {
            type: Number
          },
          cuentas: {
            type: Array
          },
          hide: {
            type: Boolean,
            value: true
          },
          hayCuentas: {
            type: Boolean,
            value:false
          }
        };
      }

      buscaCuentas(data) {
        console.log("Buscando usuario: " + data);
        console.log(data);
        this.idcliente = data.loggeduser;
        this.$.obtenerCuentas.headers.id = data.loggeduser;
        this.$.obtenerCuentas.generateRequest();
        //Montamos cabeceras para incluir los parametros y mandarlo por http POST a la API
      }

      mostrarCuentas(resultado) {
        console.log(resultado.detail.response);
        //mostramos componente
        this.toggleView();
        this.cuentas = resultado.detail.response;
        if(this.cuentas.length != 0)
        {
          this.hayCuentas = true;
        }
        else this.hayCuentas = false;
      }

      mostrarError(error) {
        console.log(error.detail.response);
      }

      mostrarMovimientos(e) {
        var iban = e.model.item.iban;
        this.dispatchEvent(new CustomEvent("cargarmovimientos", {
          "detail": {
            "selectediban": iban,
            "userid": this.idcliente
          }
        }));
      }

      hacerTransferencia(e){
        var iban = e.model.item.iban;
        var saldo = e.model.item.saldo;
        console.log("TRANSFERENCIA DESDE: "+iban+ ", CON SALDO: "+saldo);
        this.dispatchEvent(new CustomEvent("transferencia", {
          "detail": {
            "selectediban": iban,
            "userid": this.idcliente,
            "saldo": saldo
          }
        }));

        this.toggleView();
      }

      toggleView() {
        this.hide = !this.hide;
      }

      hideView(){
        this.hide = true;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
