<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="registro-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div hidden$="{{hide}}" class="form-registro">
      <iron-ajax
        id="hacerregistro"
        url="http://rutapres-apitechjgr.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/registro"
        method="POST"
        handle-as="json"
        on-response="mostrarResultadoRegistro"
        on-error="mostrarError"></iron-ajax>

        <div class="form-signin">
            <h2 class="h3 mb-3 font-weight-normal">Formulario de registro</h2>
            <input placeholder="Nombre" type="text" class="form-control registrar" value="{{name::input}}" required/>
            <input placeholder="Apellidos" type="text" class="form-control registrar" value="{{lastname::input}}" required/>
            <select placeholder="Género" value="{{gender::change}}" class="form-control registrar" required>
              <option value ="">Género</option>
              <option value ="Female">Mujer</option>
              <option value ="Male">Hombre</option>
            </select>
            <input placeholder="País" type="text" class="form-control registrar" value="{{country::input}}" required/>
            <input placeholder="Email" type="email" class="form-control registrar" value="{{email::input}}" required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
            <input placeholder="Contraseña" type="password" class="form-control registrar" value="{{password::input}}" required/>
            <input placeholder="Confirmar contraseña" type="password" class="form-control registrar" value="{{passconf::input}}" required/>
            <div hidden$="{{!error}}" class="alert alert-danger" role="alert">
              <img src="/img/glyphicons_free/glyphicons/png/glyphicons-197-exclamation-sign.png" alt="Warning" height="20" width="20">
              <span class="sr-only">Error:</span>
              Datos incorrectos. Revíselos, por favor
            </div>
            <button class="btn btn-lg btn-primary btn-block" on-click="register">Enviar</button>
        </div>
      </div>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="/css/estilos.css">
      <link rel="stylesheet" href="/css/techustyle.css">
  </template>

  <script>
    class RegistroUsuario extends Polymer.Element {
      static get is() { return 'registro-usuario'; }
      static get properties() {
        return {
          hide: {
            type: Boolean,
            value: true
          },
          error:{
            type: Boolean,
            value: false
          },
          name: {
            type: String,
            value: ''
          },
          lastname: {
            type: String,
            value: ''
          },
          country: {
            type: String,
            value: ''
          },
          email: {
            type: String,
            value: ''
          },
          password: {
            type: String,
            value: ''
          },
          passconf: {
            type: String,
            value: ''
          },
          gender: {
            type: String,
            value: ''
          }
        };
      }

      toggleView() {
        this.hide = !this.hide;
      }

      register()
      {
        console.log("entra");
        if(this.email =="" || this.name =="" || this.lastname =="" || this.country ==""
          || this.password =="" || this.passconf =="" || this.gender =="" ||
          this.password != this.passconf ||
          !(this.email.match("[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$")) ||
          !(this.country.match("[A-Z]{2}")))
        {
          this.error = true;
        }else
        {
          this.error = false;
          this.$.hacerregistro.headers.email = this.email;
          this.$.hacerregistro.headers.first_name = this.name;
          this.$.hacerregistro.headers.last_name = this.lastname;
          this.$.hacerregistro.headers.country = this.country;
          this.$.hacerregistro.headers.password = this.password;
          this.$.hacerregistro.headers.gender = this.gender;
          this.$.hacerregistro.generateRequest();
        }
      }
      mostrarResultadoRegistro(datos)
      {
        console.log(datos.detail.response);
        this.dispatchEvent(new CustomEvent("registereduser", {"detail":{"registereduser":datos.detail.response}}));
      }

      mostrarError(error){
        console.error(error);
        this.error = true;
      }
    }

    window.customElements.define(RegistroUsuario.is, RegistroUsuario);
  </script>
</dom-module>
