<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/inicio-app/inicio-app.html">

<dom-module id="page-not-found">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilos.css">
    <style>
      :host {
        display: block;
      }
    </style>
    <!--<div hidden$={{hide}}
      <h1>Error 404</h1>
      <h2>¿Que estas buscando?</h2>
    </div>-->
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3 text-blue">Error 404</h1>
          <p>Página no encontrada</p>
          <p><a class="btn btn-primary btn-lg" href="/" role="button">Ir a Inicio</a></p>
        </div>
      </div>
      </div>
    </main>
    <!--<pie-app id="pie"></pie-app>-->
  </template>

  <script>
    class PageNotFound extends Polymer.Element {
      static get is() { return 'page-not-found'; }
      static get properties() {
        return {
          /*hide:{
            type:Boolean,
            value:true
          }*/
        };
      }

      /*toggleView(){
        this.hide= !this.hide;
      }*/
    }



    window.customElements.define(PageNotFound.is, PageNotFound);
  </script>
</dom-module>
