<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/inicio-app/inicio-app.html">

<dom-module id="usuario-registrado">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilos.css">
    <style>
      :host {
        display: block;
      }
    </style>

    <div hidden$="{{hide}}" class="registro">
        <div class="container">
          <h2>Su registro se ha completado exitosamente</h2>
          <p>Por favor, inicie sesión para acceder</p>
          <p class="marginb-3rem"><a class="btn btn-primary btn-lg" href="/" role="button">Ir a Inicio</a></p>
        </div>
      </div>
  </div>
  </template>

  <script>
    class UsuarioRegistrado extends Polymer.Element {
      static get is() { return 'usuario-registrado'; }
      static get properties() {
        return {
          hide: {
            type: Boolean,
            value: true
          }
        };
      }

      toggleView() {
        this.hide = !this.hide;
      }
    }



    window.customElements.define(UsuarioRegistrado.is, UsuarioRegistrado);
  </script>
</dom-module>
