<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- <link rel="import" href="../../src/emisor-app/emisor-app.html">
<link rel="import" href="../../src/receptor-app/receptor-app.html"> -->
<link rel="import" href="../../src/login-usuario/login-usuario.html">
<link rel="import" href="../../src/visor-cuentas/visor-cuentas.html">
<link rel="import" href="../../src/barra-menu/barra-menu.html">
<link rel="import" href="../../src/visor-movimientos/visor-movimientos.html">
<link rel="import" href="../../src/page-not-found/page-not-found.html">
<link rel="import" href="../../src/barra-menu/barra-menu.html">
<link rel="import" href="/src/pie-app/pie-app.html">
<link rel="import" href="../../src/registro-usuario/registro-usuario.html">
<link rel="import" href="../../src/usuario-registrado/usuario-registrado.html">
<link rel="import" href="../../src/transfer-wizard/transfer-wizard.html">

<dom-module id="padre-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <barra-menu id="barraMenu" on-logout="vuelveALogin"></barra-menu>
    <login-usuario id="loginView" on-loginuser="loadAccountView"
      on-registrar="loadRegisterView"></login-usuario>
    <registro-usuario id="registerView" on-registereduser="loadReigsteredView"></registro-usuario>
    <usuario-registrado id="registeredView"></usuario-registrado>
    <visor-cuentas id="accountView" on-cargarmovimientos="loadAccountDetailView" on-transferencia="loadTransferDetails"></visor-cuentas>
    <visor-movimientos id="accountdetailview" on-cargacuentas="loadAccountView"></visor-movimientos>
    <transfer-wizard id="pantallatransfers" on-goback="loadAccountView"></transfer-wizard>


  </template>

  <script>
    class PadreApp extends Polymer.Element {
      static get is() { return 'padre-app'; }
      static get properties() {
        return {
          loggeduser : {
            type:Number,
            value:null
          }
        };
      }

      ready(){

        super.ready();
        var loggeduser = JSON.parse(window.sessionStorage.getItem("loggeduser"));
        console.log(loggeduser);
        if (null != loggeduser && loggeduser.logged == "YES"){
          //this.loggeduser = loggeduser.userid;
          this.loadAccountView({"detail":{"loggeduser":loggeduser.userid}});
        }
      }

      // use path set api to propagate changes to sessionstorage
      updateUserSession(id) {
        console.log("Actualiza session de usuario");
        var loggeduser = JSON.parse(window.sessionStorage.getItem("loggeduser"));
        if (null != loggeduser && loggeduser.userid == id){
          console.log("Ya estaba logado");
          this.loggeduser = loggeduser.userid;
        }else{
          //initialize loggeduser param on session storage
          console.log("Nuevo login, se guarda en sessionStorage");
          loggeduser = {userid : id, logged: "YES"};
          window.sessionStorage.setItem("loggeduser", JSON.stringify(loggeduser));
          this.loggeduser = loggeduser.userid;
        }

      }

      loadAccountView(logindata){
        console.log("Cargando Cuentas Usuario");
        console.log(logindata);
        console.log("Usuario Logado: " + this.loggeduser);

        if(null == this.loggeduser && null != logindata.detail.loggeduser){ //nuevo login, se reciben datos desde el login
          console.log("Cargando Cuentas del usuario: "+logindata.detail);
          this.$.accountView.buscaCuentas(logindata.detail);
          this.updateUserSession(logindata.detail.loggeduser);
          //this.updateUserSession(logindata.detail.loggeduser);
          this.$.loginView.toggleView();
          this.$.barraMenu.ready();
        }else if(null != this.loggeduser){//ya hay un usuario logado, viene desde el visor de movimientos, o desde la pantalla de transferencias
          console.log("Volvemos a pantalla de cuentas");
          this.$.accountView.buscaCuentas({"loggeduser":this.loggeduser});

        }
      }

      loadRegisterView(registerdata)
      {
        console.log(registerdata.detail);
        this.$.loginView.toggleView();
        this.$.registerView.toggleView();
      }
      loadReigsteredView(data)
      {
        console.log(data);
        this.$.registerView.toggleView();
        this.$.registeredView.toggleView();
      }

      loadAccountDetailView(accountdata){
        // var loggeduser = JSON.parse(window.sessionStorage.getItem("loggeduser"));
        console.log(accountdata);
        if (null != accountdata.detail.userid && null != accountdata.detail.selectediban){
          console.log("Selecciona cuenta: "+accountdata.detail.selectediban);
          this.$.accountdetailview.loadMovimientos(accountdata.detail.selectediban);
          this.$.accountView.toggleView();
        }
      }

      loadTransferDetails(accountData){
        console.log();
        this.$.pantallatransfers.cargaDatosTransfer(accountData.detail);
        this.$.pantallatransfers.toggleView();
      }

      vuelveALogin(){
        //mostramos login
        this.$.loginView.toggleView();
        this.loggeduser = null;
        window.sessionStorage.removeItem("loggeduser");
        this.$.accountView.hideView();
        this.$.accountdetailview.hideView();
        this.$.pantallatransfers.hideView();
      }
    }

    window.customElements.define(PadreApp.is, PadreApp);
  </script>
</dom-module>
