<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="inicio-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilos.css">
    <style>
      :host {
        display: block;
      }
    </style>
       <div hidden$="{{hide}}" class="jumbotron" style="height: 200px;">
        <div class="container">
          <h1 class="display-3 text-blue">Bienvenido a su banco</h1>
          <p>Aquí podrá ver sus cuentas y movimientos</p>
        </div>
      </div>
  </template>

  <script>
    class InicioApp extends Polymer.Element {
      static get is() { return 'inicio-app'; }
      static get properties() {
        return {
          hide: {
            type: Boolean,
            value: false
          }
        };
      }
    }

    window.customElements.define(InicioApp.is, InicioApp);
  </script>
</dom-module>
